/* div1 {
  color: blue;
} */

/* .table {
  color: blue;
} */
/* .navbar {
  background-color: #4b5156;
} */

.bgCustomDark {
  background-color: #04313a;
}

.bgCustomMed {
  background-color: #9db0b7;
}

body {
  background-color: #0f789e;
}

.block-container {
  /* background-color: #fff; */
  padding: 30px;
}
/* wrapper{
    background-color: #086375;
} */
.monochromatic {
  background-color: 267e8f;
}

.contrast {
  background-color: #a012ff;
}

.contrast-light {
  background-color: #ffe2d6;
}

.cobalty-navy {
  background-color: #0a0147;
}

/* GET SASSY IN HERE */
