// color palette //
$color-primaryBg: #0f789e;
$color-custom-dark: #04313a;
$color-custom-med: #9db0b7;
$color-monochromatic: #267e8f;
$color-contrast-light: #ffe2d6;
$color-contrast-dark: #e91b00;
$color-cobalty-navy: #0a0147;

.bgCustomDark {
  background-color: $color-custom-dark;
}
// .transparent {
//   background-color: transparent !important;
// }
.bgCustomMed {
  background-color: $color-custom-med;
}
.contrast-light {
  background-color: $color-contrast-light;
}

body {
  // background-color: #fff;
  background-color: $color-primaryBg;
}

.note-text {
  color: #0a0147;
}

.nav-text {
  color: #fff;
}
.block-container {
  background-color: #fff;
  padding: 20px;
  border-width: 300px;
  border-radius: 50px;
  border-color: black;
}
.bold{
  font-weight: bold;
}
.flag {
  // background-color: $color-custom-dark;
  padding: 30px;
  border-width: 300px;
  border-color: black;
}
.heading {
  // background-color: $color-custom-dark;
  padding-left: 30px;
}
.gradient {
  background: rgb(255, 226, 214);
  background: radial-gradient(
    circle,
    rgba(255, 226, 214, 1) 0%,
    rgba(155, 149, 185, 1) 100%
  );
}

.shadow {
  box-shadow: 0px 0px 5px 1px $color-cobalty-navy !important;
}
.shadow-note {
  box-shadow: 0px 0px 5px 1px $color-contrast-light !important;
}

